{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'proformas/style.css' %}">
    {% if form_submitted %}
    <script>
        (function(){
            alert('Purchase order generated!');
        })();
    </script>
    {% endif %}
    <title>Purchase Order Generation</title>
</head>
<body>
    <h1>Purchase Order Generation</h1>
    <form action="/proformas/create/" method="post" class="form-new">
        <label for="full_name">Full names: </label>
        <input id="full_name" type="text" name="full_name">
        <label for="date">Creation Date: </label>
        <input id="date" type="date" name="date" min="1950-01-01" max="2025-12-31">
        <label for="total_value">Total Value: </label>
        <input id="total_value" type="number" name="total_value" step="0.01">
        <input type="submit" value="Create">
    </form>
    <a href="{% url 'index' %}">Purchase Orders</a>
</body>
</html>
