{% load static %} 

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'proformas/style.css' %}">
    <title>Purchase Order generator</title>
  </head>
  <body>
    <h1>Purchase Orders</h1>
    <table class="styled-table">
        <thead>
            <tr>
                <th>Order N°</th>
                <th>Full Names</th>
                <th>Creation Date</th>
                <th>Total Value</th>
                <th>Current State</th>
                <th colspan="4">Options</th>
            </tr>
        </thead>
       <tbody>
        {% for order in orders %}
        <tr>
            <td>{{ order.id }}</td>
            <td>{{ order.full_name }}</td>
            <td>{{ order.creation_date }}</td>
            <td>${{ order.total_value }}</td>
            <td>{{ order.state }}</td>
            <form action="/proformas/update/" method="post">
                <input type="hidden" name="pk" id="pk" value="{{ order.id }}"/>
                <td><button name="state" type="submit" value="approved">Approve</button></td>
                <td><button name="state" type="submit" value="credit">Grant credit</button></td>
                <td><button name="state" type="submit" value="paid">Paid</button></td>
                <td><button name="state" type="submit" value="void" formaction="/proformas/delete/">Void</button></td>
            </form>
        </tr>
        {% endfor %}
       </tbody>
    </table>
    <a href="{% url 'create' %}">Create Purchase Order</a>
  </body>
</html>