{% load static %} 

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'proformas/style.css' %}">
    <title>Generador de proformas</title>
  </head>
  <body>
    <h1>Listado de proformas</h1>
    <table class="styled-table">
        <thead>
            <tr>
                <th>Proforma N°</th>
                <th>Nombres completos</th>
                <th>Fecha de creación</th>
                <th>Valor de la Proforma</th>
                <th>Estado actual</th>
                <th colspan="4">Opciones</th>
            </tr>
        </thead>
       <tbody>
        {% for proforma in proformas %}
        <tr>
            <td>{{ proforma.id }}</td>
            <td>{{ proforma.full_name }}</td>
            <td>{{ proforma.creation_date }}</td>
            <td>${{ proforma.total_value }}</td>
            <td>{{ proforma.state }}</td>
            <form action="/proformas/update/" method="post">
                <input type="hidden" name="pk" id="pk" value="{{ proforma.id }}"/>
                <td><button name="state" type="submit" value="aprobada">Aceptar</button></td>
                <td><button name="state" type="submit" value="credito">Otorgar crédito</button></td>
                <td><button name="state" type="submit" value="pagada">Cancelada</button></td>
                <td><button name="state" type="submit" value="anulada" formaction="/proformas/delete/">Anular</button></td>
            </form>
        </tr>
        {% endfor %}
       </tbody>
    </table>
    <a href="{% url 'create' %}">Crear Proforma</a>
  </body>
</html>